<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.www.community.dao.mapper.system.basic.PositionMapper">
    <resultMap id="BaseResultMap" type="com.www.community.model.entity.hr.Position">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <select id="getAllPositions" resultMap="BaseResultMap">
        select
            id,
            name,
            createDate,
            enabled
        from position
    </select>
</mapper>